﻿@model Allatkert.Web.Models.GondozoViewModel
@{
    ViewBag.Title = "GondozoIndex";
}

<h2>Gondozo Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("GondozoEdit",Model.EditedGondozo)    <!--megkapja ugyanazt a modelt, tehát a viewModelt,ezért kell 2. paraméter-->

@Html.Partial("GondozoList",Model.ListOfGondozo)

