﻿@model Allatkert.Web.Models.Gondozo

<h2>Edit one Gondozo</h2>

@using (Html.BeginForm("Edit", "Gondozo"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()
    //cross-site request forgery ellen

    @Html.HiddenFor(m=>m.Id)
    @Html.Hidden("editAction",ViewData["editAction"].ToString())    // csak óvatosan, szét  

    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.TelSzam)</div>
    <div class="editor-field">@Html.EditorFor(m => m.TelSzam)</div>

    <div class="editor-label">@Html.LabelFor(m => m.MunkaKezd)</div>
    <div class="editor-field">@Html.EditorFor(m => m.MunkaKezd)</div>

    <div class="editor-label">@Html.LabelFor(m => m.MunkaVeg)</div>
    <div class="editor-field">@Html.EditorFor(m => m.MunkaVeg)</div>

    <input type="submit" value="SEND" />
}
