﻿@model Allatkert.Web.Models.Gondozo
@{
    ViewBag.Title = "GondozoDetails";
}

<h2>GondozoDetails</h2>

<!-- <a href="~/Allatkert/Index">Back to the list</a>" -->
@Html.ActionLink("Back to the list", "Index");  <!--ugyanaz és sokszor hatékonyabb -->


<table border="1">
    <tr>
        <td>Gondozo ID: </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nev)</td>
        <td>@Html.DisplayFor(m => m.Nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.TelSzam)</td>
        <td>@Html.DisplayFor(m => m.TelSzam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MunkaKezd)</td>
        <td>@Html.DisplayFor(m => m.MunkaKezd)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MunkaVeg)</td>
        <td>@Html.DisplayFor(m => m.MunkaVeg)</td>
    </tr>
</table>
