﻿@model IEnumerable<Allatkert.Web.Models.Gondozo>

<h2>List of cars</h2>
@if(Model.Count()==0)
{
    <p>Nincs adat :(</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Nev)</th>
            <th>@Html.DisplayNameFor(m => m.First().TelSzam)</th>
            <th>Dataset</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Nev)</td>
                <td>@Html.DisplayFor(m => item.TelSzam)</td>
                <td>@Html.ActionLink("SHOW","Details", new { id=item.Id })</td>
                <td>@Html.ActionLink("DEL", "Remove", new { id = item.Id })</td>
                <td>@Html.ActionLink("EDIT", "Edit", new { id = item.Id })</td>
            </tr>
         }
    </table>
}
